.bag-container {
  margin: 7rem 0;
}

.checkout-validate {
  display: flex;
  justify-content: space-between;
}
.checkout-total {
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media (min-width: 768px) {
  .bag-container {
    margin: 7rem 10rem;
  }
}
