.bag-item-icon {
  font-size: 1.1rem;
  cursor: pointer;
}

.ordresSelect {
  max-width: 5rem;
  border-width: 1px;
  border-color: black;
  padding: 0 0 0 5px;
  background-position: right 0.5rem center;
  background-size: 16px 10px;
}
